:root {
    /* Primary */

--Bright orange: hsl(31, 77%, 52%);
--Dark cyan: hsl(184, 100%, 22%);
--Very dark cyan: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Container Box */
.container {
height: 98vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}
/* Content Box */
.content {
  width: 300px;
  height: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

.content h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

.content p {
  color: white;
  line-height: 1.6;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.btn {
  padding: 10px 18px;
  background-color: white;
  font-family: 'Lexend Deca', sans-serif;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.content:nth-of-type(1){
  border-radius: 10px 0px 0px 10px;
}

.content:nth-of-type(3){
  border-radius: 0px 10px 10px 0px;
}

.btn:nth-of-type(1){
  color: var(--Bright orange);
}

.btn:nth-of-type(2){
  color: var(--Dark cyan);
}

.btn:nth-of-type(3){
  color: var(--Very dark cyan);
}

.btn:hover {
  background-color: transparent;
  color: white;
  
}

@media screen and (max-width: 600px) {
  .container {
    margin: 10px 0px 10px 0px;
    height: auto;
    flex-direction: column;
  }
  .content {
    border-radius: 0 !important;
    height: 400px !important;
  }
  .content:nth-of-type(1){
    border-radius: 10px 10px 0px 0px !important;
  }
  .content:nth-of-type(3){
    border-radius: 0px 0px 10px 10px !important;
  }
} 